:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
}
.sidebar {
  background-color: red;
  grid-column: 1/4;
  grid-column-end: 1;
  height: calc(100vh - 4rem);
  overflow-y: auto;
}
.main_section {
  background-color: green;
  grid-column: 2/4;
  height: calc(100vh - 4rem);
  overflow-y: auto;

}
.controls_footer {
  background-color: black;
  height: 4rem;
  color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom:0;

}
